@using Economic.RazorPage.Models
@using Economic.ViewModels.ViewModels

@model List<ProductTypeViewModel>

<!-- featured categories -->
<div class="categories">
    <div class="small-container">
        <h2 class="title">Loại sản phẩm</h2>
        <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4" style="background-color: lightpink">
                <a asp-page="/Product/Producttypes" asp-route-id="@item.Id">
                    <h4 style="text-align: center; font-size: 18px; line-height: 26px; height: 26px">@item.Name</h4>
                </a>
            </div>
        }
        </div>
    </div>
</div>